html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {background-color: mediumpurple;
    width: 800px;
    margin: 0 auto;
  }
  
  h1, h2 ,h3 ,h4{
    font-family: 'Faster One', cursive;
  }
  
  /* header styles */
  
  h1 {
    font-size: 4rem;
    text-align: center;
  }
   
  h2 {
    font-size: 2rem;
    text-align: left;
  }

  h3{
    font-size: 2rem;
    text-align: center;
  }
  h4 {
    font-size: 2rem;
    text-align:  justify;
    
  }
  header p {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* section styles */
  
  section article {
    width: 33%;
    float: left;
  }
  
  section p {
    margin: 5px 0;
  }
  
  section ul {
    margin-top: 0;
  }
  
  h2 {
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

  
h3 {
  font-size: 2rem;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

h4 {
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }